{% extends "AppGeneral/sbs_index.html" %}

{% load static %}

{% block title %}
{% endblock %}

{% block titulo %}
    AGREGAR AVATAR
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}

{% block contenido %} 
    <div style="text-align: center;">
        <img src="{{ avatar }}" class="rounded-circle mx-auto d-block" alt="..." width="200" height="200">
    </div>
    <div>
        <form style="padding-left: 33%;" action="{% url 'avatar_agregar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %} 
            <table>
                {{ form.as_table }}
            </table>
            <div style="padding-left: 15%;">
                <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Agregar">
                <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'user_perfil' %}"> Volver </a>
            </div>
        </form>
    </div>
    
{% endblock %}
