{% extends "AppGeneral/sbs_index.html" %}

{% load static %}

{% block title %}
    EDITAR RESEÑA
{% endblock %}

{% block titulo %}
    {{ mensaje }}
{% endblock %}

{% block subtitulo %}
    Lee las reseñas, agrega una nueva o modifica alguna de las existentes!
{% endblock %}

{% block contenido %} 
    <form action="{% url 'editar_post' post.id %}" method="POST"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        
        <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Modificar">
        <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'review_mostrar' review.id %}"> Volver </a>
    </form>
    
{% endblock %}