{% extends "AppGeneral/sbs_index.html" %}

{% load static %}

{% block title %}
    PERFIL DE USUARIO
{% endblock %}

{% block titulo %}
    {{ user.username }} <br>
    {{ mensaje }}
{% endblock %}

<style>
    .li {
        border: 1px;
        border-style: groove 1px;
        
    }
</style>

{% block contenido %} 
    <div style="text-align: center; padding-top: 10px;"> 
        <img src="{{ avatar }}" class="rounded-circle mx-auto d-block" alt="..." width="200" height="200"> 
    </div>
    <div>
        <div style="text-align: center;">
            <ul style="padding-left: 0;">
                <li> {{ user.username }} </li>
                <li> {{ user.first_name }} </li>
                <li> {{ user.last_name }} </li>
                <li> {{ user.email }} </li>
                <li> {{ url }} </li>
                <li> {{ descripcion }} </li>
            </ul>
        </div>
    </div>
    <div style="text-align: center; padding: 10px 0px">
        <a class="btn btn-primary btn-xm rounded-pill mt-5"  href="{% url 'user_editar' %}"> Modificar Datos</a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5"  href="{% url 'url_agregar' %}"> Agregar Urls</a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5"  href="{% url 'descripcion_agregar' %}"> agregar descripcion</a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5"  href="{% url 'avatar_agregar' %}"> Cambiar Avatar</a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5"  href="{% url 'inicio' %}"> Volver </a>
    </div>   
{% endblock %}