{% extends "AppGeneral/sbs_index.html" %}

{% load static %}

{% block title %}
    EDITAR USUARIO
{% endblock %}

{% block titulo %}
    Editar usuario <br> {{ user.username }}
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}

{% block contenido %} 
    <form action="{% url 'user_editar' %}" method="POST"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        
        <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Guardar">
        <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'inicio' %}"> Volver </a>
    </form>
    
{% endblock %}
